*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}


:root{
    --navbar-height: 60px;
}


#navbar{
    position: sticky;
    display: flex;
    align-items: center;
    top: 0px;
}
#logo{
    margin: 2px 30px;
}

#logo img{
    height: 65px;
    margin: 6px 6px;
    border-radius: 20px;
}
#navbar ul{
    display: flex;
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar::before{
    content: "";
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    position: absolute;
    height: 95%;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 15px;
    margin: 0px 15px;
    color: floralwhite;
    border-radius: 10px;
    position: sticky;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 633px;
    position: relative;
}
#home::before{
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)), url("flower\ pic.avif") no-repeat center center/cover;
    opacity: 0.9;
    opacity: 0.9;
    position: absolute;
    height: 722px;
    width: 100%;
    z-index: -1;
    top: -85px;
    left: 0px;
}
#home .first img{
    margin-left: 700px;
    margin-top: 20px;
    border-radius: 500px;
    height: 400px;
    
}
#home h1 {
    color: rgb(1, 0, 0);
    margin-left: 700px;
    font-family: Arial, Helvetica, sans-serif, cursive;
    margin-top: 30px;
    font-size: xx-large;
}
#home .primary{
    color: rgb(197, 65, 164);
    font-weight: 15px;
}


#home p{
    color: rgb(255, 140, 33);
    text-align: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif, cursive;
    margin-left: 700px;
}

#bio{
    margin: 34px;
    display: flex;
}

#bio .box{
   
    padding: 10px;
    margin: 3px 10px;
    width: 500px;
    margin-left: 500px;
  
}
#bio-container .secondary{
    font-family: Arial, Helvetica, sans-serif, cursive;
    margin-left: 700px;
    margin-top: 25px;
}
#bio-container{
    margin-top: 100px;
}



#bio .box p{
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
}



footer{
    background: black;
    color: white;
    padding: 20px 20px;
}
.center{
    text-align: center;
}
